@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Header Component
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #84b701;
  padding: 0.5rem;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.h1 {
  font-size: 1.25rem;
}

.navLinksSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  text-decoration: underline;
}

.navLink {
  margin: 0 0.25rem;
  color: white;

  &:focus {
    color: #f1c40f;
  }
}

// Home Component
.page {
  width: 80vw;
  height: 70vh;
  margin: 2rem auto;
  line-height: 1.5rem;
  background-color: white;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  overflow-y: scroll;
}

.title {
  font-size: 1.5rem;
  padding: 1rem;
}

.p {
  padding: 1rem 1rem;
}

// Calculator Component
.calcTitle {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem;
  padding: 1rem 0.25rem;
  background-color: white;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
}

// Quote Component
.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  width: 80vw;
  height: 20vh;
  margin: 4rem auto;
  background-color: white;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  padding: 0.5rem;
}

.quote {
  font-size: 1rem;
}

.author {
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  font-style: italic;
}

// Footer Component
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #86b504;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  padding: 0.5rem;

  a {
    margin-left: 1rem;
    color: white;
  }

  img {
    margin-left: 1rem;
    height: 1rem;
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  // Header Component
  .header {
    padding: 0.5rem;
  }

  .h1 {
    font-size: 3rem;
  }

  .navLink {
    font-size: 1rem;
    margin: 0 1rem;
  }

  // Home Component
  .title {
    font-size: 3rem;
    margin: 2rem;
  }

  .p {
    margin: 0 2rem;
    font-size: 1.25rem;
  }

  // Calculator Component
  .calcTitle {
    font-size: 3rem;
    float: left;
    margin: 4rem 0 0 4rem;
    padding: 1rem 2rem;
  }

  //Quote Component
  .block {
    width: 60vw;
    height: 40vh;
    padding: 2rem;
  }

  .quote {
    font-size: 2rem;
  }

  .author {
    font-size: 2rem;
  }
}
